<p-toast position="bottom-left"></p-toast>

<p-button
  style="z-index: 10000"
  icon="pi pi-video"
  styleClass="p-button-rounded p-button-text"
  class="video-call-button"
  pTooltip="Video call"
  tooltipPosition="bottom"
  (click)="showHelp($event)"
></p-button>

<div class="drag-boundary" #dragBoundary>
  <div
    id="videoCallWindow"
    #videoCallWindow
    [cdkDragBoundary]="dragBoundary"
    class="drag-boundary__inner video-call-window hidden"
    cdkDrag
  >
    <div
      class="w-full flex flex-row justify-content-between align-items-center mr-1 ml-1"
    >
      <button
        pRipple
        class="video-call-control-button"
        pTooltip="Hide"
        tooltipPosition="bottom"
        (click)="toggleCallWindow()"
      >
        <ng-icon *ngIf="!callWindowHidden" name="featherChevronDown"></ng-icon>
        <ng-icon *ngIf="callWindowHidden" name="featherChevronUp"></ng-icon>
      </button>
      <p class="font-semibold">Ongoing call</p>
      <div class="flex flex-row align-items-center">
        <button
          pRipple
          class="video-call-control-button"
          pTooltip="Start Call"
          tooltipPosition="bottom"
          (click)="joinRoom()"
        >
          <ng-icon name="featherPhone"></ng-icon>
        </button>
        <button
          pRipple
          class="video-call-control-button"
          pTooltip="End Call"
          tooltipPosition="bottom"
          (click)="endCall()"
        >
          <ng-icon name="featherPhoneOff"></ng-icon>
        </button>
        <button
          pRipple
          class="video-call-control-button"
          pTooltip="Toggle Audio"
          tooltipPosition="bottom"
          (click)="toggleAudio()"
        >
          <ng-icon *ngIf="audioOn" name="featherMic"></ng-icon>
          <ng-icon *ngIf="!audioOn" name="featherMicOff"></ng-icon>
        </button>
        <button
          pRipple
          class="video-call-control-button"
          pTooltip="Toggle Video"
          tooltipPosition="bottom"
          (click)="toggleVideo()"
        >
          <ng-icon *ngIf="videoOn" name="featherVideo"></ng-icon>
          <ng-icon *ngIf="!videoOn" name="featherVideoOff"></ng-icon>
        </button>
      </div>
    </div>
    <video class="local-video" #localVideo autoplay muted></video>
    <video class="remote-video" #remoteVideo autoplay></video>
  </div>
</div>

<p-dialog
  appendTo="body"
  [draggable]="false"
  [resizable]="false"
  header="Start a video call"
  [(visible)]="displayHelp"
  [modal]="true"
  [style]="{ width: '40vw', backgroundColor: 'white' }"
>
  <div class="flex flex-column gap-2 w-full">
    <p-button
      type="button"
      (click)="createRoom()"
      styleClass="w-full text-center"
      >Create room</p-button
    >
    <div
      (click)="copyRoomId()"
      pTooltip="Click to copy room ID"
      tooltipPosition="top"
      class="w-full"
    >
      <input
        type="text"
        pInputText
        placeholder="Created Room ID"
        name="roomId"
        [(ngModel)]="roomId"
        [disabled]="true"
        class="w-full"
      />
    </div>
  </div>
  <p-divider></p-divider>
  <form (submit)="joinRoom()" class="flex flex-column gap-2 w-full">
    <input
      pInputText
      placeholder="Room ID"
      name="roomId"
      [(ngModel)]="roomId"
      required
    />
    <p-button type="submit" styleClass="w-full text-center">Join room</p-button>
  </form>
</p-dialog>
