<p-toast position="bottom-left"></p-toast>

<p-button
  style="z-index: 10000"
  icon="pi pi-video"
  styleClass="p-button-rounded p-button-text"
  class="fixed top-0 left-0"
  pTooltip="Video call"
  tooltipPosition="bottom"
  (click)="showHelp($event)"
></p-button>

<div class="drag-boundary" #dragBoundary>
  <div #videoCallWindow class="drag-boundary__inner video-call-window hidden" [cdkDragBoundary]="dragBoundary" cdkDrag>
    <div
      class="w-full flex flex-row justify-content-between align-items-center"
    >
      <p>Ongoing call</p>
      <div class="flex flex-row align-items-center">
        <p-button
          icon="pi pi-video"
          styleClass="p-button-rounded p-button-text"
          pTooltip="Start call"
          tooltipPosition="bottom"
          (click)="startCall()"
        ></p-button>
        <p-button
          icon="pi pi-minus-circle"
          styleClass="p-button-rounded p-button-text"
          pTooltip="Start call"
          tooltipPosition="bottom"
          (click)="endCall()"
        ></p-button>
      </div>
    </div>
    <video class="local-video" #localVideo autoplay muted></video>
    <video class="remote-video" #remoteVideo autoplay></video>
  </div>
</div>

<p-dialog
  appendTo="body"
  [draggable]="false"
  [resizable]="false"
  header="Start a video call"
  [(visible)]="displayHelp"
  [modal]="true"
  [style]="{ width: '40vw', backgroundColor: 'white' }"
>
  <div class="flex flex-column gap-2 w-full">
    <p-button
      type="button"
      (click)="createRoom()"
      styleClass="w-full text-center"
      >Create room</p-button
    >
    <div
      (click)="copyRoomId()"
      pTooltip="Click to copy room ID"
      tooltipPosition="top"
      class="w-full"
    >
      <input
        type="text"
        pInputText
        placeholder="Created Room ID"
        name="roomId"
        [(ngModel)]="roomId"
        [disabled]="true"
        class="w-full"
      />
    </div>
  </div>
  <p-divider></p-divider>
  <form (submit)="joinRoom()" class="flex flex-column gap-2 w-full">
    <input
      pInputText
      placeholder="Room ID"
      name="roomId"
      [(ngModel)]="roomId"
      required
    />
    <p-button type="submit" styleClass="w-full text-center">Join room</p-button>
  </form>
</p-dialog>
