:host ::ng-deep {
  .p-toast {
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

.content-wrapper {
  width: 90%;
  padding: 1.25rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

textarea {
  resize: none;
  font-family: 'Fira Code', monospace;
}
