:host ::ng-deep {
  .p-toast {
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

body {
  display: flex;
  justify-content: flex-end;
}

.algo-chevron {
  font-size: 10px;
  transition: all 350ms;
}

.toolbar-item {
  font-size: 1rem !important;
  font-weight: 600;
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom /
    0 var(--bg-h);
  transition: background-size 350ms, color 350ms;
  padding-bottom: 2px;
  --bg-h: 2px;
  position: relative;
}

.toolbar-item:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: slateblue;
}

.toolbar-item:where(:hover, :focus-visible) > .algo-chevron {
  color: slateblue;
}

.algo-menu-item {
  transition: 350ms;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.algo-menu-item:hover {
  color: slateblue;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
}

.algo-menu {
  width: max-content;
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  line-height: 1;
  animation: slide-in 350ms, slide-out 350ms;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@keyframes slide-in {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-inline: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.graphic-section {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom;
}

.header-content {
  width: 100%;
}

.is-toolbar-end-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2001;
  padding: 0.25rem;
}

.is-toolbar-end-login {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  padding: 0.6rem 0.75rem 0.6rem 0.6rem;
}

@media screen and (max-width: 768px) {
}
