:host ::ng-deep {
    .p-dialog, .p-dialog .p-dialog-content, .p-dialog .p-dialog-footer, .p-dialog .p-dialog-header {
        opacity: 1;
    }
    .p-dialog .p-dialog-header {
        display: none;
    }

    .p-tabview-nav {
        display: none;
    }
}

form {
    gap: 10px;
}

.signup-url {
    color: lightblue;
    text-decoration: underline dotted;
    text-underline-offset: 3px;
    cursor: pointer;

}