<p-toast></p-toast>

<!-- delete note modal -->
<p-dialog [style]="{width: '300px', height: '230px'}" [modal]="true" [dismissableMask]="false"
  [visible]="displayDeleteModal">
  <div class="delete-dialog-content">
    <h2>Are you sure?</h2>
    <p>Keep in mind that deleted notes cannot be recovered</p>
    <div class="button-pair justify-content-between">
      <button pButton pRipple class="p-button p-button-danger p-button-outlined" type="button"
        (click)="hideDeleteModal()" label="Cancel"></button>
      <button pButton pRipple class="p-button p-button-success p-button-outlined" type="button"
        (click)="deleteNote(selectedNote)" label="Delete"></button>
    </div>
  </div>
</p-dialog>


<!-- create note modal -->
<p-dialog [(visible)]="displayCreateNoteModal" [modal]="true">
  <ng-template pTemplate="content">
    <form id="create-note-form" class="note-form" #createNoteForm (submit)="createNote($event, createNoteForm)">
      <div class="form-inputs p-6">
        <input autocomplete="false" class="note-edit-input note-edit-input-title" type="text" name="title"
          placeholder="Note title">
        <textarea autocomplete="false" class="note-edit-input note-edit-input-content" name="content"
          placeholder="Note content"></textarea>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="button-pair justify-content-between">
      <div>
        <p-checkbox id="create-note-form-include-graph-data" *ngIf="onAlgorithmPage()"
          label="Include graph data (and page)" [binary]="true" [(ngModel)]="createNoteCheckbox"></p-checkbox>
      </div>
      <div>
        <button pButton pRipple class="p-button p-button-danger p-button-outlined" type="button"
          (click)="hideCreateNoteModal()" label="Cancel"></button>
        <button pButton pRipple class="p-button p-button-success p-button-outlined" type="submit"
          form="create-note-form" label="Save"></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- edit note modal -->
<p-dialog [(visible)]="displayEditNoteModal" [modal]="true">
  <ng-template pTemplate="content">
    <form id="edit-note-form" class="note-form" #editNoteForm (submit)="editNote($event, editNoteForm)">
      <div class="form-inputs p-6">
        <input autocomplete="false" class="note-edit-input note-edit-input-title" type="text" name="title"
          placeholder="Note title" [value]="noteTitle">
        <textarea autocomplete="false" class="note-edit-input note-edit-input-content" name="content"
          placeholder="Note content" [value]="noteContent"></textarea>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="button-pair justify-content-between">
      <div></div>
      <div>
        <button pButton pRipple class="p-button p-button-danger p-button-outlined" type="button"
          (click)="hideEditNoteModal()" label="Discard"></button>
        <button pButton pRipple class="p-button p-button-success p-button-outlined" type="submit" form="edit-note-form"
          label="Save"></button>
      </div>
    </div>
  </ng-template>
</p-dialog>


<!-- sidebar -->
<p-sidebar [(visible)]="displaySidebar" position="right">
  <ng-template pTemplate="header">
    <div class="header-content flex flex-row justify-content-between align-items-center max-w-full">
      <h2 class="p-0 m-0">Your notes</h2>
      <p-button icon="pi pi-cog" styleClass="p-button-rounded p-button-text"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="sidebar-content-heading">
      <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text" label="New"
        (click)="showCreateNoteModal()"></p-button>
    </div>
    <div class="note-grid">
      <div *ngFor="let note of notes" id="note-{{note.id}}" class="note relative">
        <div class="note-header flex flex-row justify-content-between align-items-center">
          <p class="p-0 m-0 note-title">{{ note.title }}</p>
          <div class="button-pair">
            <p-button *ngIf="note.page !== ''" icon="pi pi-eye" styleClass="p-button-rounded p-button-text"
              (click)="selectedNote = note.id; loadNote()"></p-button>
            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text"
              (click)="selectedNote = note.id; showEditNoteModal()"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"
              (click)="selectedNote = note.id; showDeleteModal()"></p-button>
          </div>
        </div>
        <div class="note-content">
          <p class="p-0 m-0">{{ note.content }}</p>
        </div>
        <div *ngIf="note.page !== ''" class="note-page bottom-0 absolute mb-3">
          <p class="p-0 m-0 font-italic text-gray-400">will redirect to /{{ note.page }}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="sidebar-content">
      <div class="button-pair">
        <button *ngIf="isLoggedIn" pButton pRipple class="p-button p-button-warning p-button-outlined" type="button"
          (click)="whoAmI()" label="Who am I?"></button>
        <button *ngIf="isLoggedIn" pButton pRipple class="p-button p-button-danger p-button-outlined" type="button"
          (click)="logoutUser()" label="Log out"></button>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<!-- main toolbar -->
<div class="toolbar select-none" id="header">
  <div class="start">ML Colab</div>

  <div class="center">
    <p routerLink="/home" routerLinkActive="active" class="ml-2 mr-2 cursor-pointer toolbar-item">
      Home
    </p>
    <p routerLink="/news" routerLinkActive="active" class="ml-2 mr-2 cursor-pointer toolbar-item">
      News
    </p>
    <div id="menu-toggle" class="ml-2 mr-2 cursor-pointer toolbar-item" (click)="showMenu()">
      Algorithms <i class="pi pi-chevron-down algo-chevron"></i>
      <div id="algo-menu" class="algo-menu hidden">
        <p class="cursor-pointer algo-menu-item m-0 mb-2" routerLink="/id3">
          ID3
        </p>
        <div class="separator"></div>
        <p class="cursor-pointer algo-menu-item m-0 mb-2 mt-2" routerLink="/knn">
          K-NN
        </p>
        <div class="separator"></div>
        <p class="cursor-pointer algo-menu-item m-0 mb-2 mt-2" routerLink="/hclustering">
          Hierarchical Clustering
        </p>
        <div class="separator"></div>
        <p class="cursor-pointer algo-menu-item m-0 mt-2" routerLink="/kmeans">
          K-Means
        </p>
      </div>
    </div>
  </div>

  <div class="end">
    <button *ngIf="!isLoggedIn" pButton pRipple icon="pi pi-user" class="p-button-outlined p-button-sm" type="button"
      (click)="displayModal = true; setIndex(0)" label="Log in"></button>
    <p-button *ngIf="isLoggedIn" icon="pi pi-bars" styleClass="p-button-rounded p-button-text"
      (click)="openSidebar()"></p-button>
  </div>
</div>

<!-- login/signup dialog -->
<p-dialog [(visible)]="displayModal" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false"
  class="dialog">
  <p-tabView [(activeIndex)]="tabViewIndex">
    <p-tabPanel class="tab-panel" header="Log in">
      <div class="content flex flex-row justify-content-between align-items-center">
        <div class="graphic-section">ceva</div>
        <div class="form-section p-6 flex flex-column align-items-center justify-content-center">
          <p id="welcome-back">Welcome back!</p>
          <p>Please log in to continue.</p>
          <form #loginForm (submit)="loginUser($event, loginForm)" class="flex flex-column">
            <span class="p-float-label">
              <input id="username-input" name="username" type="text" pInputText />
              <label for="username-input">Username</label>
            </span>
            <span class="p-float-label">
              <input type="password" name="password" pInputText inputId="password-input" />
              <label for="password-input">Password</label>
            </span>
            <button pRipple pButton type="submit" label="Login" class="m-2"></button>
          </form>
          <p class="mt-3">
            Are you new here?
            <span class="signup-url" (click)="setIndex(1)">Sign up!</span>
          </p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel class="tab-panel" header="Sign up">
      <div class="content flex flex-column align-items-center">
        <p>Welcome aboard!</p>
        <p>Fill out the form below to sign up.</p>
        <form #registerForm (submit)="registerUser($event, registerForm)" class="flex flex-column">
          <span class="p-float-label">
            <input id="name-input" name="username" type="text" pInputText />
            <label for="name-input">Username</label>
          </span>
          <span class="p-float-label">
            <input id="email-signup-input" name="email" type="text" pInputText />
            <label for="email-signup-input">E-mail</label>
          </span>
          <span class="p-float-label">
            <p-password id="password-input" [(ngModel)]="password" name="password"
              inputId="password-input"></p-password>
            <label for="password-input">Password</label>
          </span>
          <span class="p-float-label">
            <p-password name="password-confirm" id="password-confirm-input" inputId="password-confirm-input"
              [(ngModel)]="passwordConfirm"></p-password>
            <label for="password-input">Confirm Password</label>
          </span>
          <button pRipple pButton type="submit" label="Sign up" class="m-2"></button>
        </form>
        <p>
          Already have an account?
          <span class="signup-url" (click)="setIndex(0)">Log in!</span>
        </p>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>