<div class="main-content">
    <div class="hero-section">
        <div class="content">
            <video id="player" src="../../assets/videos/hero-video.mp4" autoplay loop muted></video>
            <div id="player-overlay"></div>

            <div class="hero-title">
                <div class="app-title">
                    <div class="mixed">
                        <p>ML</p><p id="second-word">Colab</p>
                    </div>
                    <div class="normal">
                        <p>ML</p><p id="second-word">Colab</p>
                    </div>
                </div>

                <ngx-typed-js [strings]="['K&#45;Means', 'Adaboost', 'ID3', 'k&#45;NN', 'Clusterization']" [loop]="true"
                [typeSpeed]="40" [backDelay]="500" [showCursor]="false">
                <div class="hero-subtitle">
                    <div class="mixed">
                        Learn everything about&nbsp;
                    </div>
                    <div class="normal">
                        Learn everything about&nbsp;
                    </div>
                    <span style="white-space: nowrap" class="typing fancy">
                    </span>
                    <span class="fancy">‎</span>
                </div>
            </ngx-typed-js>
            </div>

            <div class="login">
                <p class="get-started">Welcome back!</p>
                <form #loginUserForm class="login-user">
                    <input class="input" name="email" type="text" placeholder="E-mail address">
                    <input class="input" name="password" type="password" placeholder="Password">
                    <button class="button">Log in</button>
                </form>
                <p class="new-user">New user? <span class="sign-up">Sign up</span></p>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">
                    Lorem ipsum dolor sit amet
                </h3>
                <h4 class="card-subtitle">
                    <span class="card-subtitle-word" style="transition-delay: 0ms;">
                        Lorem
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 40ms;">
                        ipsum </span>
                    <span class="card-subtitle-word" style="transition-delay: 80ms;">
                        dolor
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 120ms;">
                        sit </span>
                    <span class="card-subtitle-word" style="transition-delay: 160ms;">
                        amet
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 200ms;">
                        consectetur
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 240ms;">
                        adipisicing
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 280ms;">
                        elit.
                    </span>
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3 class="card-title">
                    Lorem ipsum dolor sit amet
                </h3>
                <h4 class="card-subtitle">
                    <span class="card-subtitle-word" style="transition-delay: 0ms;">
                        Lorem
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 40ms;">
                        ipsum </span>
                    <span class="card-subtitle-word" style="transition-delay: 80ms;">
                        dolor
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 120ms;">
                        sit </span>
                    <span class="card-subtitle-word" style="transition-delay: 160ms;">
                        amet
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 200ms;">
                        consectetur
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 240ms;">
                        adipisicing
                    </span>
                    <span class="card-subtitle-word" style="transition-delay: 280ms;">
                        elit.
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>