<p-toast position="bottom-left"></p-toast>

<div class="content-wrapper">
    <div>
        <h3>Teams you're in</h3>
        <div class="teams-grid">
            <div *ngFor="let team of teams" class="team">
                <div class="team-info">
                    <p>{{team.name}}</p>
                    <p>{{team.description}}</p>
                    <p>{{team.admin}}</p>
                </div>
                <div class="team-users">
                    <div *ngFor="let user of team.users" class="user">
                        <p>{{user.username}}</p>
                        <p-button icon="pi pi-user-plus" styleClass="p-button-text p-button-rounded p-button-sm"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex-row align-items-center gap-3">
            <h3>Teams you manage</h3>
            <p-button icon="pi pi-plus" styleClass="p-button-text p-button-rounded p-button-sm" label="New"></p-button>
        </div>
        <div class="teams-grid">
            <div *ngFor="let team of userTeams" class="team">
                <div class="team-info">
                    <p>{{team.name}}</p>
                    <p>{{team.description}}</p>
                </div>
                <div class="team-users">
                    <div *ngFor="let user of team.users">
                        <div *ngIf="user.isFriend" class="user">
                            <p>{{user.username}}</p>
                            <p-button icon="pi pi-user-minus" styleClass="p-button-text p-button-rounded p-button-sm"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>