<p-toast position="bottom-left"></p-toast>

<!-- delete friend modal -->
<p-dialog
  [style]="{
    width: '400px',
    height: 'auto',
    'min-height': '200px',
    overflow: 'auto'
  }"
  [modal]="true"
  [dismissableMask]="false"
  [visible]="displayDeleteFriendModal"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column w-full">
      <h3>Delete friend</h3>
      <p-divider></p-divider>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <p class="font-semibold">
      You (or them) will have to make a friend request again.
    </p>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="button-pair justify-content-center">
      <button
        pButton
        pRipple
        class="p-button p-button-danger p-button-outlined"
        type="button"
        (click)="hideDeleteFriendModal()"
        label="Cancel"
      ></button>
      <button
        pButton
        pRipple
        class="p-button p-button-success p-button-outlined"
        type="button"
        (click)="deleteFriend()"
        label="Delete"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- cancel request modal -->
<p-dialog
  [style]="{
    width: '400px',
    height: 'auto',
    'min-height': '200px',
    overflow: 'auto'
  }"
  [modal]="true"
  [dismissableMask]="false"
  [visible]="displayCancelRequestModal"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [dismissableMask]="true"
  (onHide)="hideCancelRequestModal()"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column w-full">
      <h3>Cancel request</h3>
      <p-divider></p-divider>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <p class="font-semibold">
      You (or them) will have to make a friend request again.
    </p>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="button-pair justify-content-center">
      <button
        pButton
        pRipple
        class="p-button p-button-danger p-button-outlined"
        type="button"
        (click)="hideCancelRequestModal()"
        label="No"
      ></button>
      <button
        pButton
        pRipple
        class="p-button p-button-success p-button-outlined"
        type="button"
        (click)="cancelRequest()"
        label="Yes"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- decline request modal -->
<p-dialog
  [style]="{
    width: '400px',
    height: 'auto',
    'min-height': '200px',
    overflow: 'auto'
  }"
  [modal]="true"
  [dismissableMask]="false"
  [visible]="displayDeleteRequestModal"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [dismissableMask]="true"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column w-full">
      <h3>Decline request</h3>
      <p-divider></p-divider>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <p class="font-semibold">
      You (or them) will have to make a friend request again.
    </p>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="button-pair justify-content-center">
      <button
        pButton
        pRipple
        class="p-button p-button-danger p-button-outlined"
        type="button"
        (click)="hideDeclineRequestModal()"
        label="No"
      ></button>
      <button
        pButton
        pRipple
        class="p-button p-button-success p-button-outlined"
        type="button"
        (click)="declineRequest()"
        label="Yes"
      ></button>
    </div>
  </ng-template>
</p-dialog>
