:host ::ng-deep {
  .p-dialog {
    width: 90%;
    height: 80%;
    border-radius: 10px;

    .p-dialog-header {
      border-radius: 10px 10px 0 0;
    }

    .p-dialog-content {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .p-dialog-footer {
      border-radius: 0 0 10px 10px;
    }
  }
}

.note-edit-input {
  all: unset;
}

.note-edit-input-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.note-edit-input-content {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  height: 80%;
}

.note-form {
  height: 100%;
}

.button-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.user {
  background: #fff;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 5px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.half {
  width: 50%;
}
