.user-may-know {
  border-radius: 10px;
  background-color: #fff;
}

.friend-request {
  width: 100%;
  background: #fff;
  border-radius: 50px;
}

.friend-container {
  height: 260px;

  .friend-container-component {
    height: 100%;
    overflow-y: auto;
  }
}

.sent-request {
  width: 100%;
  background: #fff;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
  padding-left: 15px;
}
