:host ::ng-deep {
  .p-toast {
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

.user-may-know {
  border-radius: 10px;
  background-color: #404040;
}

.friend-request {
  width: 100%;
  background: #404040;
  border-radius: 50px;
}

.friend-container {
  height: 260px;

  .friend-container-component {
    height: 100%;
    overflow-y: auto;
  }
}

.sent-request {
  width: 100%;
  background: #404040;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
  padding-left: 15px;
}
