<p-toast position="bottom-left"></p-toast>
<p-confirmPopup [style]="{ width: '300px', whiteSpace: 'pre-line' }">
</p-confirmPopup>

<div class="content-wrapper">
  <h1>The ID3 Algorithm</h1>

  <!-- graph section -->
  <div class="flex flex-column lg:flex-row gap-4 lg:h-30rem h-full">
    <div class="relative w-full">
      <p-button
        (click)="resetView()"
        styleClass="p-button-rounded bg-indigo-200"
        label="Reset View"
        class="absolute z-5"
      >
      </p-button>
      <div #graphContainer id="container" class="w-full h-30rem"></div>
    </div>

    <p-divider
      layout="vertical"
      styleClass="hidden lg:inline-block"
    ></p-divider>

    <div class="graph-input w-full">
      <div
        class="flex flex-row w-full justify-content-between align-items-center"
      >
        <div class="flex flex-column sm:flex-row gap-2 align-items-baseline sm:align-items-center">
          <h2>Enter your data</h2>
          <p-fileUpload
            #form
            mode="basic"
            chooseLabel="or upload a CSV"
            styleClass="p-button-rounded p-button-text"
            name="myfile[]"
            [customUpload]="true"
            (uploadHandler)="uploadHandler($event, form)"
            accept=".csv"
          ></p-fileUpload>
          <button class="random-data-button" (click)="getRandomData()">
            <ng-icon name="feather-shuffle"></ng-icon>
            or get some random data
          </button>
        </div>
        <p-button
          styleClass="p-button-text p-button-rounded"
          icon="pi pi-info-circle"
          (click)="showHelp($event)"
        ></p-button>
      </div>
      <form
        #enterGraphValues
        (submit)="submitGraphValues($event, enterGraphValues)"
        class="lg:col-5 col-10 flex flex-column gap-2 w-full h-full"
      >
        <textarea
          #algorithmData
          pInputTextarea
          class="h-21rem max-w-full"
          name="data"
          spellcheck="false"
        ></textarea>
        <p-button
          label="Submit"
          styleClass="bg-indigo-300"
          type="submit"
        ></p-button>
      </form>
    </div>
  </div>

  <p-divider></p-divider>

  <!-- info section -->
  <div class="flex flex-column">
    <h3>Description</h3>
    <p>
      The ID3 algorithm is a decision tree learning algorithm that uses a greedy
      search to find the best attribute to split the data on at each node. It is
      a top-down, recursive, divide-and-conquer algorithm. The algorithm uses
      information gain to determine which attribute to split on. The attribute
      with the highest information gain is chosen to split the data on. The
      algorithm continues to split the data until all instances in a node belong
      to the same class or there are no more attributes to split on. The
      algorithm is guaranteed to find an optimal solution.
    </p>
  </div>
</div>
