.graph-display {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%,
    transparent 8%
  );
  background-position: 0 0;
  background-size: 2vmin 2vmin;
}

.content-wrapper {
  width: 90%;
  padding: 1.25rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

.node {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: "Fira Code", monospace;
  resize: none;
}

#container {
  width: 50%;
  overflow: hidden;
  border: 2px dashed dodgerblue;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  cursor: move;
}

.content {
  position: absolute;
  top: 200px;
  left: 200px;
  bottom: 0;
  right: 0;
  height: 95%;
  width: 95%;
  margin: auto;
  object-fit: contain;
}
