.graph-display {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%,
    transparent 8%
  );
  background-position: 0 0;
  background-size: 2vmin 2vmin;
}

.content-wrapper {
  width: 90%;
  padding: 1.25rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

.node {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: "Fira Code", monospace;
  resize: none;
}

#container {
  width: 50%;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  cursor: move;
}

.content {
  position: absolute;
  top: 200px;
  left: 200px;
  bottom: 0;
  right: 0;
  height: 95%;
  width: 95%;
  margin: auto;
  object-fit: contain;
}

h2 {
  margin: 0;
}

.random-data-button {
  font-size: 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 12px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 200ms ease-in-out;
  margin: 5px;
  cursor: pointer;
}

.random-data-button:hover {
  background-color: var(--indigo-500);
}
