:host ::ng-deep {
  .p-toast {
    opacity: 1;
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

.graph {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 90%;
  padding: 1.25rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

textarea {
  font-family: "Fira Code", monospace;
  resize: none;
}
