@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  height: 40svh;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: white linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -10;
}

#blur {
  height: 100svh;
  width: 100svw;
  position: fixed;
  z-index: -1;
  backdrop-filter: blur(120px);
}

@media screen and (max-width: 600px) {
  #blob {
    height: 100svh;
    width: 100svw;
    animation: none;
    display: none;
  }

  #blur {
    display: none;
  }
}
