:host ::ng-deep {
  .p-sidebar {
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    .p-sidebar-header,
    .p-sidebar-content,
    .p-sidebar-footer {
      border-radius: 15px;
    }
  }

  .p-toast {
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  grid-gap: 15px 15px;
}

.note {
  background: #313131;
  border-radius: 10px;
  height: 200px;
  padding: 10px 10px 10px 20px;
}

.note-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.create-note-modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-edit-input {
  all: unset;
}

.note-edit-input-title {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.note-edit-input-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
}

.note-form {
  height: 100%;
}

.form-inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.delete-dialog-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  :host ::ng-deep {
    .p-sidebar {
      width: 100%;
    }
  }
}
