<p-sidebar [(visible)]="displaySidebar" position="right">
  <ng-template pTemplate="header">
    <div
      class="header-content flex flex-row justify-content-between align-items-center max-w-full"
    >
      <div class="sidebar-items">
        <h2
          class="p-0 m-0 sidebar-item"
          [style]="yourNotes"
          (click)="setDisplay(0)"
        >
          Your notes
        </h2>
        <h2
          class="p-0 m-0 sidebar-item"
          [style]="yourTeams"
          (click)="setDisplay(1)"
        >
          Your teams
        </h2>
        <h2
          class="p-0 m-0 sidebar-item"
          [style]="yourSocial"
          (click)="setDisplay(2)"
        >
          Social
        </h2>
      </div>
      <p-button
        icon="pi pi-cog"
        styleClass="p-button-rounded p-button-text"
        (onClick)="displayUserSettingsModal()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <app-user-notes *ngIf="display === 0"></app-user-notes>
    <app-user-teams *ngIf="display === 1"></app-user-teams>
    <app-user-socials *ngIf="display === 2"></app-user-socials>
    <app-user-team-view *ngIf="display === 3"></app-user-team-view>
    <app-user-chat *ngIf="display === 4"></app-user-chat>
  </ng-template>
  <ng-template pTemplate="footer">
    <div *ngIf="display !== 4">
      <p-divider></p-divider>
      <div class="sidebar-content">
        <div class="button-pair">
          <button
            pButton
            pRipple
            class="p-button p-button-danger p-button-outlined"
            type="button"
            (click)="logoutUser()"
            label="Log out"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<app-user-notes-modals
  *ngIf="display === 0 || display === 1 || display === 3"
></app-user-notes-modals>
<app-user-friends-modals
  *ngIf="display === 1 || display === 2 || display === 3"
></app-user-friends-modals>
<app-user-socials-modals *ngIf="display === 2"></app-user-socials-modals>
<app-user-teams-modals *ngIf="display === 1"></app-user-teams-modals>
<app-user-team-view-modals *ngIf="display === 3"></app-user-team-view-modals>
<app-user-settings></app-user-settings>
