<p-toast position="bottom-left"></p-toast>

<div class="content-wrapper">
  <h1>Latest ML News</h1>

  <div class="toolbar">
    <div class="group">
      <div class="title">Sorting</div>
      <div class="content">
        <p-button
            [styleClass]="newestButton"
            label="Newest"
            (onClick)="sortNewsBy('newest', $event)"
        ></p-button>
        <p-button
            [styleClass]="oldestButton"
            label="Oldest"
            (onClick)="sortNewsBy('oldest', $event)"
        ></p-button>
      </div>
    </div>
    <div *ngIf="!isLoading" class="group">
      <div class="title center">
        Page options
      </div>
      <div class="content">
        <p-paginator
            #p1
            [showFirstLastIcon]="false"
            [rows]="10" [rowsPerPageOptions]="[10, 20, 30, news.length]" [totalRecords]="news.length"
            (onPageChange)="paginate($event, 1)"></p-paginator>
      </div>
    </div>
    <div class="group">
      <div class="title right">View</div>
      <div class="content">
        <p-button
            [styleClass]="gridButton"
            icon="pi pi-th-large"
            (onClick)="changeViewTo('grid')"
        ></p-button>
        <p-button
            [styleClass]="listButton"
            icon="pi pi-list"
            (onClick)="changeViewTo('list')"
        ></p-button>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="align-self-center flex flex-column align-items-center">
    <h3>Fetching the latest news ...</h3>
    <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
        strokeWidth="6"
        animationDuration=".5s"
        styleClass="custom-spinner"
    ></p-progressSpinner>
  </div>

  <div id="news-container" class="news-container">
    <div
        *ngFor="let newsItem of newsChunk"
        class="news-item cursor-pointer"
        (click)="redirectTo(newsItem.hyperlink)"
    >
      <div class="start">
        <img src="{{ newsItem.image }}"/>
        <div class="title-container">
          <p class="source">{{ newsItem.source }}</p>
          <p class="title">{{ newsItem.title }}</p>
        </div>
      </div>
      <div class="end">
        <p-button
            icon="pi pi-chevron-right"
            styleClass="p-button-rounded"
            (onClick)="redirectTo(newsItem.hyperlink)"
        ></p-button>
      </div>
    </div>
  </div>

  <div class="toolbar align-self-center">
  <div *ngIf="!isLoading" class="group">
    <div class="title center">
      Page options
    </div>
    <div class="content">
      <p-paginator
          #p2
          [showFirstLastIcon]="false"
          [rows]="10" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="news.length"
          (onPageChange)="paginate($event, 2)"></p-paginator>
    </div>
  </div>
  </div>
</div>
