.user-message {
  max-width: 50%;
}

.float-right {
  float: right;
}

.float-right::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--indigo-200);
  border-radius: 50%;
  right: 1px;
  top: -10px;
}

.float-right::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--indigo-200);
  border-radius: 50%;
  right: 2px;
  top: -4px;
}

.float-left {
  float: left;
}

.float-left::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--gray-300);
  border-radius: 50%;
  left: 1px;
  top: -10px;
}

.float-left::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--gray-300);
  border-radius: 50%;
  left: 2px;
  top: -4px;
}

.bg-gradient {
  background: linear-gradient(0, #ffffff00 0%, #ffffffff 40%, #ffffffff 100%);
}

.user-message {
  border-radius: 50px;
}

.message-form {
  position: fixed;
  display: flex;
  bottom: 10px;
  width: 97.5%;
  padding: 10px;
  padding-top: 30px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 95%,
    rgba(0, 0, 0, 0.3) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

#message-box {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.enter-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

  input {
    border: none;
    background-color: #ececec;
    padding: 15px;
    font-size: 1rem;
    padding-left: 15px;
    border-radius: 50px;
    width: 92.5%;
    transition: 200ms;
  }

  input:focus,
  input:active,
  input:hover,
  input:visited,
  input:focus-visible,
  input:focus-within {
    border: none;
    outline: none;
    background-color: #f5f5f5;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 7.5%;
  }
}

.message-box {
  height: calc(100vh - 300px);
}
