<div class="sidebar-content-heading">
  <p-button
    icon="pi pi-plus"
    styleClass="p-button-rounded p-button-text mb-2"
    label="New"
    (click)="showCreateNoteModal()"
  ></p-button>
</div>
<div class="note-grid">
  <div *ngFor="let note of notes" id="note-{{ note.id }}" class="note relative">
    <div
      class="note-header flex flex-row justify-content-between align-items-center"
    >
      <p class="p-0 m-0 note-title">{{ note.title }}</p>
      <div class="button-pair">
        <p-button
          *ngIf="note.page !== ''"
          icon="pi pi-eye"
          styleClass="p-button-rounded p-button-text"
          pTooltip="Load"
          tooltipPosition="left"
          (click)="selectedNote = note.id; loadNote()"
        ></p-button>
        <p-button
          icon="pi pi-pencil"
          styleClass="p-button-rounded p-button-text"
          pTooltip="Edit"
          tooltipPosition="left"
          (click)="selectedNote = note.id; showEditNoteModal()"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          styleClass="p-button-rounded p-button-text"
          pTooltip="Delete"
          tooltipPosition="left"
          (click)="selectedNote = note.id; showDeleteNoteModal()"
        ></p-button>
      </div>
    </div>
    <div class="note-content">
      <p class="p-0 m-0">{{ note.content }}</p>
    </div>
    <div *ngIf="note.page !== ''" class="note-page bottom-0 absolute mb-3">
      <p class="p-0 m-0 font-italic text-gray-400">
        will redirect to /{{ note.page }}
      </p>
    </div>
  </div>
</div>
