:host ::ng-deep {
  .p-toast {
    .p-toast-message {
      background: #9fa8da;
    }
  }
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  grid-gap: 15px 15px;
}

.note {
  overflow: hidden;
  position: relative;
  background: #313131;
  border-radius: 10px;
  height: 200px;
  padding: 10px 10px 10px 20px;
}

.button-pair {
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 200ms, transform 200ms ease-in-out;
  background: linear-gradient(
    -90deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(49, 49, 49, 1) 80%,
    rgba(49, 49, 49, 0) 100%
  );
  transform: translateX(100%);
}

.note:hover .button-pair {
  opacity: 1;
  transform: translateX(0);
}

.note-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
