@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira%20Code:wght@100;300;400;500;700;900&display=swap');

:host ::ng-deep {
  .p-dialog .p-dialog-header .p-dialog-header-close-icon {
    display: none;
  }
}

* {
  font-family: "Poppins", sans-serif;
  color: #181818;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #dee3ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9fa8da;
  transition: 200ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c6bc0;
}
