@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9fa8da;
  transition: 200ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c6bc0;
}
